# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/Debug/XMLBookTracker.exe
bin/Debug/XMLBookTracker.pdb
bin/Debug/XMLBookTracker.vshost.exe.manifest
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/XMLBookTracker.csproj.FileListAbsolute.txt
obj/Debug/XMLBookTracker.csproj.GenerateResource.Cache
obj/Debug/XMLBookTracker.csprojResolveAssemblyReference.cache
obj/Debug/XMLBookTracker.exe
obj/Debug/XMLBookTracker.pdb
